body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#light {
  background-color: #fbfbfe;
  color:#1f1e20;
}

#light a {
  background-color: #fbfbfe;
  color:#1f1e20;
  text-decoration: none;
}

#dark {
  background-color: #1f1e20;
  color: #fbfbfe;
}

#dark a {
  background-color: #1f1e20;
  color: #fbfbfe;
  text-decoration: none;
}

#dark .btn-drawer-menu {
  color: #fbfbfe;
}

#dark p{
  font-weight: 300 !important;
}

#light p{
  font-weight: 400 !important;
}
